.bg{
    height: 100%;
   position: relative;
}

.model{
    width: 100%;
    position: relative;
}

.glasses{
    position: absolute;
    width: 205px;
    top: 14%;
    left: 18.4%;
    opacity: 0.8;
}